@page "/"

<NumberInput @ref="@BaseInput" PlaceHolder="Type base here..." />
<NumberInput @ref="@ExponentInput" PlaceHolder="Type exponent here..." />
<button @onclick="OnClick">Update</button>

@code {
    public double Base;
    public NumberInput BaseInput;
    public NumberInput ExponentInput;

    public void OnClick() {
        StateHasChanged();
    }
}