@page "/"

<NumberInput @ref="@BaseInput" PlaceHolder="Type base here..." />
<NumberInput @ref="@ExponentInput" PlaceHolder="Type exponent here..." IntegerNumber="false" />
<br />
<button @onclick="Calculate">Calculate</button>
<br />

@Result

@code {
    public NumberInput BaseInput;
    public NumberInput ExponentInput;

    public double Result = 0;

    public void Calculate() {
        Result = FastMath.FastApproximatePower((float)BaseInput.Value, (float)ExponentInput.Value);
    }
}