<div class="info">
    <div><b>@MeasuresResult.PowerFunctionModel.Name</b></div>
    <div>Max error: <b>@(Misc.FormatError(MeasuresResult.MaxError))</b>% for number <b>@Misc.FormatDouble(MeasuresResult.MaxErrorBase)</b></div>
    <div>Average error: <b>@(Misc.FormatError(MeasuresResult.AverageError))</b>%</div>
</div>
@code {
    [Parameter]
    public MeasuresResult MeasuresResult { get; set; }
}
